
 body {
	  font-family: sans-serif;
	  border: black thin solid ; 
	  background-color:grey;
      border-radius:4px ;
	  text-shadow: 2px 2px 4px black;
   	  font-style: italic;
	  

      

}


	 
   


   